.mainContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(48, 61, 67, 0.55);
}

.innerDiv {
    background: white;
    border-radius: 7px;
    padding: 25px 26px;
}

.innerDivinp  {
    width: 30rem;
    height: 1.7rem;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    padding: 4px;
    border-color: rgba(77, 64, 85, 0.1);
    color: gray;
    margin-top: 7px;
    margin-bottom: 1.2rem;
    box-shadow: 0px 1px 2px 0px rgba(77, 64, 85, 0.1);

}

.chips {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.priorityChip {
    display: flex;
    gap: 10px;
}

.priorityChip span {
    font-size: 9.5px;
    color: rgba(118, 117, 117, 1);
    background: rgba(238, 236, 236, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    padding: 6px 9px;
}

.circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.sky {
    background: rgba(24, 176, 255, 1);

}

.green {
    background-color: green;
}

.dropdownButton {
    display: flex;
}

.tasks p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}

.addBtn {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    color: rgba(118, 117, 117, 1);
    cursor: pointer;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.btnDiv button {
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    height: 2rem;
    width: 7rem;
    background-color: white;
    box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
}

.btnDivright {
    display: flex;
    gap: 10px;
}
.dueDatePicker {
    position: relative;
    display: inline-block;
  }
  
  
  
  .dueDateInput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Hide the input field */
    pointer-events: none; /* Prevent interaction */
  }
  