.container form {
    margin: 3rem 1rem 1rem 2rem;
}

.head {
    margin: 1rem;
    font-size: 17px;
    font-weight: 600;
}

.inputDiv input {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 7px;
}

.inputDiv {
    display: flex;
    border: 1px solid rgba(208, 208, 208, 1);
    width: 20rem;
    padding: 3px 12px;
    height: 2rem;
    margin-bottom: 5px;
    border-radius: 8px;
    
}

.btn {
    width: 20rem;
    height: 2.2rem;
    border-radius: 18px;
    border: none;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 1px;
    outline: none;
    background: rgba(23, 162, 184, 1);
    cursor: pointer;
}

.formFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}